name: PR Workflow

on:
  pull_request:
    branches: ["main"]

jobs:
  pr-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Say Hello
        run: echo "Pull Request triggered this workflow!"
